# Server Configuration
PORT=5000

# MongoDB Connection
# For Local MongoDB:
# MONGODB_URI=mongodb://localhost:27017/samiti_db

# For MongoDB Atlas (Cloud):
# MONGODB_URI=mongodb+srv://username:password@cluster.xxxxx.mongodb.net/samiti_db?retryWrites=true&w=majority

MONGODB_URI=mongodb+srv://yashpalsinhgohil8427_db_user:cnvaClxNsHAQ7Cpn@cluster0.teo1cp8.mongodb.net/

# JWT Secret (Change this to a random string in production)
JWT_SECRET=agniveer_samiti_secret_key_2024_secure

# Environment
NODE_ENV=development

# Email Configuration (for sending registration emails)
# For Gmail: Use App Password (not your regular password)
# Generate App Password: https://myaccount.google.com/apppasswords
EMAIL_SERVICE=gmail
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
